body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

.elastic-builder {

  %btn-action {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    line-height: 21px;
    font-size: 12px;
    -webkit-box-shadow: 2px 2px 6px darkgray;
    -moz-box-shadow: 2px 2px 6px darkgray;
    box-shadow: 2px 2px 6px darkgray;
    background-color: cornflowerblue;
    margin-left: 4px;
    margin-top: 4px;
    color: white;
  }

  %btn-remove {
    background-color: red;
    color: white;
  }

  %card-shadow {
    -webkit-box-shadow: 1px 0px 3px darkgray;
    -moz-box-shadow: 1px 0px 3px darkgray;
    box-shadow: 1px 0px 3px darkgray;
  }

  .list-group-item:first-child, .list-group-item:last-child, .list-group-item {
    border-radius: 1px;
    margin-bottom: 12px;
    width: 100%;
    overflow: hidden;
    padding: 12px;
  }

  .card-shadow {
    @extend %card-shadow;
  }


  .btn-action {
    @extend %btn-action;
  }

  .btn-remove {
    @extend %btn-action;
    @extend %btn-remove;
  }

  .multi-rule {
    margin-top: 12px;
  }

  .checkbox-wrapper {
    margin-left: 36px;
    float: left;
  }

  input, select {
    margin-bottom: 6px;
  }

  .vs-card {
    @extend %card-shadow;
  }

  .vs-header  {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 6px 12px;
    margin-top: -12px;
    margin-bottom: 18px;
    border-radius: 0;
    background-color: rgba(246, 246, 246, 0.65);
    border-bottom: 1px solid lightgray;
    .title {
      font-size: 18px;
      line-height: 30px;
      width: 50%;
      float: left;
    }


  }

}

@media (max-width: 768px) {
  %btn-action {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    line-height: 30px;
    font-size: 18px;
    margin-top: 0;
  }
}


