body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial; }

.elastic-builder .btn-action, .elastic-builder .btn-remove {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  line-height: 21px;
  font-size: 12px;
  -webkit-box-shadow: 2px 2px 6px darkgray;
  -moz-box-shadow: 2px 2px 6px darkgray;
  box-shadow: 2px 2px 6px darkgray;
  background-color: cornflowerblue;
  margin-left: 4px;
  margin-top: 4px;
  color: white; }
.elastic-builder .btn-remove {
  background-color: red;
  color: white; }
.elastic-builder .card-shadow, .elastic-builder .vs-card {
  -webkit-box-shadow: 1px 0px 3px darkgray;
  -moz-box-shadow: 1px 0px 3px darkgray;
  box-shadow: 1px 0px 3px darkgray; }
.elastic-builder .list-group-item:first-child, .elastic-builder .list-group-item:last-child, .elastic-builder .list-group-item {
  border-radius: 1px;
  margin-bottom: 12px;
  width: 100%;
  overflow: hidden;
  padding: 12px; }
.elastic-builder .multi-rule {
  margin-top: 12px; }
.elastic-builder .checkbox-wrapper {
  margin-left: 36px;
  float: left; }
.elastic-builder input, .elastic-builder select {
  margin-bottom: 6px; }
.elastic-builder .vs-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 6px 12px;
  margin-top: -12px;
  margin-bottom: 18px;
  border-radius: 0;
  background-color: rgba(246, 246, 246, 0.65);
  border-bottom: 1px solid lightgray; }
  .elastic-builder .vs-header .title {
    font-size: 18px;
    line-height: 30px;
    width: 50%;
    float: left; }

@media (max-width: 768px) {
  .elastic-builder .btn-action, .elastic-builder .btn-remove {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    line-height: 30px;
    font-size: 18px;
    margin-top: 0; } }
