body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial; }

.elastic-builder .btn-action, .elastic-builder .btn-remove {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  line-height: 30px;
  font-size: 18px;
  -webkit-box-shadow: 2px 2px 6px darkgray;
  -moz-box-shadow: 2px 2px 6px darkgray;
  box-shadow: 2px 2px 6px darkgray;
  background-color: cornflowerblue;
  margin-left: 4px;
  color: white; }
.elastic-builder .btn-remove {
  background-color: red;
  color: white; }
.elastic-builder .list-group-item:first-child, .elastic-builder .list-group-item:last-child, .elastic-builder .list-group-item, .elastic-builder .vs-header {
  -webkit-box-shadow: 2px 2px 6px darkgray;
  -moz-box-shadow: 2px 2px 6px darkgray;
  box-shadow: 2px 2px 6px darkgray; }
.elastic-builder .list-group-item:first-child, .elastic-builder .list-group-item:last-child, .elastic-builder .list-group-item {
  border-radius: 1px;
  margin-bottom: 12px;
  width: 100%;
  overflow: hidden;
  border: none; }
.elastic-builder .list-group-item:first-child.actions, .elastic-builder .list-group-item:last-child.actions, .elastic-builder .list-group-item.actions {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  margin-bottom: 0; }
.elastic-builder .multi-rule {
  margin-top: 12px; }
.elastic-builder .checkbox-wrapper {
  margin-left: 36px;
  float: left; }
.elastic-builder input, .elastic-builder select {
  margin-bottom: 6px; }
.elastic-builder .vs-header {
  position: relative;
  width: 100%;
  padding: 6px 12px;
  margin-top: -12px;
  margin-bottom: 18px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.5); }
